@tailwind base;
@tailwind components;
@tailwind utilities;


.about {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    
  }

  .about::-webkit-scrollbar {
    width: 0;
  }
  
  .about{
    scroll-behavior:  infinite;
  }
